*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 1em;
    font-weight: normal;
}

body {
    padding: 8px;
}

.main {
width: 70%;
border: 1px solid blue;
box-shadow: 0 0 15px 5px rgba(37, 86, 164, 0.776);
border-radius: 10px;
padding: 20px;
/* Выравнивание блока по центру */
margin: 10px auto;
}

.header {
    background-color:#87CEFA;
    text-align: center;
    padding: 100px 0;

}

.header h1 {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;

}

input, label, textarea, select{
    display: block;
    width: 100%;
    margin: 10px 0;
}
input, textarea, select{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}
.hiddenelem{
    display: none;
}

.boxes input, .boxes label{
    width: auto;
    display: inline;
}

.boxes button{
    font-family: Inter;
    font-size: 20.50px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    width: 150px;
    height: 45px;
    color: #FFFFFF;
    background: #3263CD;
    border-radius: 5px 0px 0px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.boxes:hover button{
    background-color: rgb(179, 197, 236);
    border-color: rgb(146, 181, 220);
}

